.top-wrapper {
    background-size: cover;
    text-align: center;
    padding: 180px 0 100px 0;
  }

  .container {
    background-image: url(https://github.com/jin-furukawa/jinbei.github.io/blob/main/top.png);
    width: 1170px;
    margin: 0 auto;
  }

  .container h1 {
    font-size: 45px;
    letter-spacing: 5px;
    color: hsl(288, 93%, 71%);
  }

  .container p {
    color: black;
  }
